nav {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* hitted navbar */
html[data-scroll='not-top'] nav {
  /* background-color: #f8f9f9; */
  background-image: url(../assets/images/backgroundImage.jpg);
  transition: 0.3ms;
  height: 50px;
}

nav .content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav ul li a {
  color: #191919;
  padding: 10px 15px;
  font: 500 12px/24px 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #10c9c3;
}

header {
  background-image: url(../assets/images/backgroundImage.jpg);
  height: 100vh;
}
header .content {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
header .header-content {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-content h1 {
  color: #1d1d1d;
  font: 500 38px/48px 'Montserrat', sans-serif;
  letter-spacing: 0.38px;
}
header .header-content p {
  color: #787878;
  margin: 30px 0 40px 0;
  font: 400 18px/28px 'Montserrat', sans-serif;
  letter-spacing: 0.09px;
}

section.about-us {
  background: white;
  padding: 100px 0;
}
section.about-us .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.about-us .content h2 {
  color: #191919;
  font: 500 30px 'Montserrat', sans-serif;
}
section.about-us .content p {
  color: #787878;
  width: 55%;
  text-align: center;
  margin: 40px 0;
  font: 400 16px/24px 'Montserrat', sans-serif;
}

section.skills {
  background: #f8f9f9;
}
section.skills .content {
  display: flex;
}
section.skills .skills-content {
  padding: 100px 85px 100px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
section.skills h2 {
  margin-bottom: 40px;
  font: 500 30px 'Montserrat', sans-serif;
}
section.skills .progress-group:not(:last-child) {
  margin-bottom: 40px;
}
section.skills .progress-group h4 {
  margin-bottom: 20px;
  font: 500 12px 'Montserrat', sans-serif;
}
section.skills .progress-bar {
  background: #d8d8d8;
  height: 3px;
  width: 100%;
}
section.skills .progress-bar > div {
  height: 100%;
  background: #10c9c3;
}
.progress-bar > .progress-bar-65 {
  width: 65%;
}
.progress-bar > .progress-bar-75 {
  width: 75%;
}
.progress-bar > .progress-bar-90 {
  width: 90%;
}
section.skills .skills-image {
  width: 50%;
}
section.skills .skills-image img {
  width: 100%;
  height: 100%;
}

section.achievements {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #10c9c3;
}

section.achievements .achievements-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.achievements .achievements-content .achievement-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

section.achievements .achievements-content .achievement-item .achievement-item-image {
  width: 40px;
  height: 40px;
  margin: 20px;
}

section.achievements .achievements-content .achievement-item .achievement-legend {
  display: flex;
  flex-direction: column;
}

section.achievements .achievements-content .achievement-item .achievement-legend-number {
  color: white;
  font: 500 18px/30px 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 1.67;
  letter-spacing: 0.54px;
}

section.achievements .achievements-content .achievement-item .achievement-legend-text {
  font: 500 12px/30px 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 2.5;
  letter-spacing: 1.2px;
}


section.examples {
  display: flex;
  flex-wrap: wrap;
}
section.examples .examples-item {
  cursor: pointer;
  width: 25%;
  padding-bottom: 22%;
  position: relative;
  transition: 0.2s;
}
section.examples .examples-item .eye {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}
section.examples .examples-item .eye img{
  width: 50px;
}
section.examples .examples-item:hover .eye {
  background-color: black;
  opacity: 1;  
}
section.examples .examples-item > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.load-more {
  background-color: #f5f5f5;
  padding: 30px;
}
.content-load-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-load-more a {
  padding: 50px;
  font: 500 12px 'Montserrat', sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #8e8e8e;
}

section.process {
  background: white;
  padding-top: 100px;
}
section.process .content-process {
  display: flex;
  align-items: center;
  flex-direction: column;
}
section.process .content-process h2 {
  color: #191919;
  font: 500 30px 'Montserrat', sans-serif;
  line-height: 2;
  letter-spacing: 0.3px;
}
section.process .content-process p {
  color: #787878;
  width: 55%;
  text-align: center;
  margin: 40px;
  font: 400 16px/24px 'NunitoSans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.08px;
}

section.video {
  padding-bottom: 100px;
}
section.video .content {
  position: relative;
}
section.video .content .video {
  z-index: 2;
}
section.video .content video {
  width: 100%;
}
section.video .content .play-button {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #74dfdb;
  cursor: pointer;
}

section.service {
  background-color: #f5f5f5;
}
section.service .service-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 70px;
}
section.service .service-content .service-item {
  width: 25%;
  padding: 60px 30px ;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.service .service-content .service-item h4 {
  font: 500 12px 'Montserrat', sans-serif;
  line-height: 2.5;
  letter-spacing: 1.2px;
  color: #191919;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
}
 section.service .service-content .service-item p {
  font: 16px 'NunitoSans', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.08px;
  text-align: center;
  color: #787878;
}
section.service .service-content .service-item img{
  width: 40px;
  height: 40px;
}

section.quote{
  background-color: #10c9c3;
}
section.quote .quote-content {
display: flex;
align-items: center;
flex-direction: column;
padding: 170px;
}
section.quote .quote-content h2{
  color: #ffffff;
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
  font: 500 24px 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.24px;
}
section.quote .quote-content p{
  color: #ffffff;
  text-align: center;
  font: 500 12px 'Montserrat', sans-serif;
  line-height: 3;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

section.trademark{
  color: #ffffff;

}

section.trademark .trademark-content{
display: flex;
justify-content: space-between;
align-items: center;
margin: 70px 30px;
}

section.trademark .trademark-content-item img{
width: 100px;
height: 80px;
}